*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  padding-top: 18px;
    background: rgb(0, 0, 0);
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__wrapper{
    display: flex;
    align-items: center;
    gap: 30px;

}
.select{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.header__btn{
    width: 192px;
    background: rgb(241, 169, 0);
    padding: 26px;
    border: none;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;

}
.header__list{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    list-style: none;
}
.header__link{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-decoration: none;
}
.hero{
    padding-top: 349px;
    padding-bottom: 142px;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.btn1{
    background-color:  rgb(241, 169, 0);
    width: 147px;
    height: 31px;
}
.btn2{
    background-color:  rgb(0, 0, 0);
    width: 199px;
    height: 31px;
    color: wheat;
}
.hero__wrapper{
    text-align: center;
}
.hero__title{
    text-align: center;
    padding: 51px;
    border-radius: 10px;b

    border-radius: 10px;
    margin: 51px
    ;

    background: rgba(241, 169, 0, 0.33);
}
.footer{
    background-color: #222222;
}